[submodule "external/nextcloud-server"]
	path = external/nextcloud-server
	url = https://github.com/nextcloud/server.git
	branch = v31.0.7
[submodule "external/nextcloud-notifications"]
	path = external/nextcloud-notifications
	url = https://github.com/nextcloud/notifications.git
	branch = v31.0.7
[submodule "external/nextcloud-spreed"]
	path = external/nextcloud-spreed
	url = https://github.com/nextcloud/spreed
	branch = v21.1.3
[submodule "external/nextcloud-news"]
	path = external/nextcloud-news
	url = https://github.com/nextcloud/news
	branch = 26.0.2
[submodule "external/nextcloud-notes"]
	path = external/nextcloud-notes
	url = https://github.com/nextcloud/notes
	branch = v4.12.2
[submodule "external/openapi-specification"]
	path = external/openapi-specification
	url = https://github.com/OAI/OpenAPI-Specification.git
	branch = 3.1.1
[submodule "external/nextcloud-drop_account"]
	path = external/nextcloud-drop_account
	url = https://framagit.org/framasoft/nextcloud/drop_account.git
	branch = 2.7.1
[submodule "external/nextcloud-cookbook"]
	path = external/nextcloud-cookbook
	url = https://github.com/nextcloud/cookbook.git
	branch = v0.11.3
[submodule "external/nextcloud-tables"]
	path = external/nextcloud-tables
	url = https://github.com/nextcloud/tables
	branch = v0.9.5
[submodule "external/emoji-metadata"]
	path = external/emoji-metadata
	url = https://github.com/googlefonts/emoji-metadata
[submodule "external/nextcloud-password_policy"]
	path = external/nextcloud-password_policy
	url = https://github.com/nextcloud/password_policy.git
	branch = v31.0.7
[submodule "external/nextcloud-terms_of_service"]
	path = external/nextcloud-terms_of_service
	url = https://github.com/nextcloud/terms_of_service.git
	branch = v4.4.0
