.dart_tool
.flutter-plugins
.flutter-plugins-dependencies

packages/**/.idea
packages/**/*.iml
packages/**/*.symbols
packages/**/*.log
packages/**/coverage
packages/**/build
packages/**/build-dir
packages/**/.flatpak-builder
packages/**/doc/api

# Melos recommends adding them, but renovate does not generate them which would end up with broken lockfiles
# **/pubspec_overrides.yaml

.fvm/
