.dart_tool
pubspec.lock

packages/**/.idea
packages/**/*.iml
packages/**/*.symbols
packages/**/*.log
packages/**/.flutter-plugins
packages/**/.flutter-plugins-dependencies
packages/**/coverage
packages/**/build
packages/**/build-dir
packages/**/.flatpak-builder
packages/**/doc/api

!packages/app/pubspec.lock

# Melos reccomends not adding them to vcs but we need them as we don't use melos in CI
# **/pubspec_overrides.yaml

.fvm/
