[submodule "external/nextcloud-server"]
	path = external/nextcloud-server
	url = https://github.com/nextcloud/server
[submodule "external/nextcloud-news"]
	path = external/nextcloud-news
	url = https://github.com/nextcloud/news
[submodule "external/openapi-generator"]
	path = external/openapi-generator
	url = https://github.com/OpenAPITools/openapi-generator
[submodule "external/seti-ui"]
	path = external/seti-ui
	url = https://github.com/jesseweed/seti-ui
[submodule "external/nextcloud-notes"]
	path = external/nextcloud-notes
	url = https://github.com/nextcloud/notes
[submodule "external/nextcloud-notifications"]
	path = external/nextcloud-notifications
	url = https://github.com/nextcloud/notifications
