name: 'Check spelling'
on:
  pull_request:

jobs:
  spellcheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: streetsidesoftware/cspell-action@245201e3f58019204d99920deeb78aade6724230 # v6
        with:
          incremental_files_only: false
